.my-nav{
    background-color: inherit;
}

.page{
    margin-top: 50px;
}

.profile-picture{
    border-radius:50%;
    height:40px;
    width:40px;
    object-position: center;
    object-fit: cover;
}

.home-post{}

.upload-image{
    height:300px;
    width:300px;
    object-position: center;
    object-fit: contain;
}

.search-user-list-item{}

.tanso-nav-link{}

.center{
    height: max-content;
    width: max-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-horizontal{
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -60px 0 0 -60px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
